.ListedHouse {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  height: 395px;
  border-radius: 2px;
  background-color: rgb(233, 232, 232);

  &:hover {
    cursor: pointer;
    color: rgb(255, 0, 0);
  }
  .imgBox {
    height: 61%;
    width: 100%;

    .img {
      position: center;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      height: 100%;
      width: 100%;
    }
  }
  .details {
    background-color: azure;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 39%;

    .top {
      width: 100%;
      margin-top: 10px;
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0 2.5px 1.5px -2px rgba(206, 206, 206, 0.8);
      .major {
        font-size: 20px;
        font-weight: 600;
      }
      .minor {
        font-size: 16px;
      }
    }
    .bottom {
      width: 100%;
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      margin-left: 15px;
      gap: 10px;

      div {
        display: flex;
        flex-direction: column;
        height: 70px;
        width: 27%;
        background-color: green;
      }
    }
  }
}
