.MiddleSection {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(220, 220, 221);
  .container {
    width: 80.5%;
    background-color: rgb(160, 224, 160);
    .topic {
      font-size: 20px;
      color: black;
    }
  }
}
