.zoneDropdown {
  position: relative;
  width: 36%;
  height: 100%;
}

.zoneDropdown .king {
  position: relative;
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zoneDropdown .king:hover {
  cursor: pointer;
}

.zoneDropdown .king .topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: grey;
  font-weight: 400;
}

.zoneDropdown .king .topic .icon {
  margin-right: 10px;
  font-size: 18px;
}

.zoneDropdown .king .topic:hover {
  cursor: pointer;
  -webkit-transition: 0.12s;
  transition: 0.12s;
  color: black;
}

.zoneDropdown .king .spanActive {
  font-weight: 400;
  -webkit-transition: 0.12s;
  transition: 0.12s;
  color: black;
}

.zoneDropdown .unActive {
  position: relative;
  background-color: rgba(164, 158, 144, 0.1);
  width: 95%;
  height: 0;
  overflow: hidden;
}

.zoneDropdown .unActive .dropdown {
  position: absolute;
}

.zoneDropdown .active {
  position: absolute;
  top: 80%;
  width: 95%;
  background-color: rgba(164, 158, 144, 0.1);
  border-radius: 8px;
  -webkit-transition: 0.125s ease-in-out;
  transition: 0.125s ease-in-out;
}

.zoneDropdown .active .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  visibility: visible;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.zoneDropdown .active .dropdown .inDropdown {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  margin-top: 2%;
  width: 100%;
  max-height: 95px;
  overflow-y: scroll;
}

.zoneDropdown .active .dropdown .inDropdown .box {
  height: 30px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: rgba(245, 226, 191, 0);
}

.zoneDropdown .active .dropdown .inDropdown .box:hover {
  cursor: pointer;
  -webkit-transition: 0.19s;
  transition: 0.19s;
  background-color: rgba(226, 226, 223, 0.25);
}

.zoneDropdown .active .dropdown .inDropdown .box span {
  font-weight: 400;
  color: rgba(7, 6, 6, 0.9);
  font-size: 14px;
  margin-left: 25%;
}

.zoneDropdown .active .dropdown .inDropdown .box .icon {
  right: 5%;
  position: absolute;
  font-size: 16px;
  color: rgba(14, 13, 13, 0.55);
}

.zoneDropdown .configBox {
  margin-top: 2.5%;
  width: 100%;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.zoneDropdown .configBox .clear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(214, 214, 214, 0.1);
  width: 100%;
}

.zoneDropdown .configBox .clear:hover {
  cursor: pointer;
  -webkit-transition: 0.05s ease-out;
  transition: 0.05s ease-out;
  background-color: rgba(214, 214, 214, 0.4);
}

.zoneDropdown .configBox .clear:hover span {
  -webkit-transition: 0.15s all;
  transition: 0.15s all;
  color: #312f2f;
  font-size: 13.5px;
  font-weight: 400;
}

.zoneDropdown .configBox .clear span {
  color: #312f2f;
  font-size: 13.5px;
  font-weight: 400;
}

.zoneDropdown .configBox .unClear {
  cursor: no-drop;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(214, 214, 214, 0.1);
  width: 100%;
}

.zoneDropdown .configBox .unClear:hover {
  cursor: no-drop;
  -webkit-transition: 0.05s ease-out;
  transition: 0.05s ease-out;
  background-color: rgba(214, 214, 214, 0.4);
}

.zoneDropdown .configBox .unClear:hover span {
  -webkit-transition: 0.15s all;
  transition: 0.15s all;
  color: #312f2f;
  font-size: 13.5px;
  font-weight: 300;
}

.zoneDropdown .configBox .unClear span {
  color: #312f2f;
  font-size: 13.5px;
  font-weight: 300;
}

@media only screen and (min-width: 1180px) and (max-width: 1239px) {
  .zoneDropdown {
    position: relative;
    width: 36%;
    height: 100%;
  }
  .zoneDropdown .king {
    position: relative;
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .zoneDropdown .king:hover {
    cursor: pointer;
  }
  .zoneDropdown .king .topic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    color: grey;
    font-weight: 400;
  }
  .zoneDropdown .king .topic .icon {
    margin-right: 10px;
    font-size: 15px;
  }
  .zoneDropdown .king .topic:hover {
    cursor: pointer;
    -webkit-transition: 0.12s;
    transition: 0.12s;
    color: black;
  }
  .zoneDropdown .king .spanActive {
    font-weight: 400;
    -webkit-transition: 0.12s;
    transition: 0.12s;
    color: black;
  }
  .zoneDropdown .unActive {
    position: relative;
    background-color: rgba(164, 158, 144, 0.1);
    width: 95%;
    height: 0;
    overflow: hidden;
  }
  .zoneDropdown .unActive .dropdown {
    position: absolute;
  }
  .zoneDropdown .active {
    position: absolute;
    top: 80%;
    width: 95%;
    background-color: rgba(164, 158, 144, 0.1);
    border-radius: 8px;
    -webkit-transition: 0.125s ease-in-out;
    transition: 0.125s ease-in-out;
  }
  .zoneDropdown .active .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    visibility: visible;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .zoneDropdown .active .dropdown .inDropdown {
    -webkit-transition: 0.1s;
    transition: 0.1s;
    margin-top: 2%;
    width: 100%;
    max-height: 89px;
    overflow-y: scroll;
  }
  .zoneDropdown .active .dropdown .inDropdown .box {
    height: 29px;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background-color: rgba(245, 226, 191, 0);
  }
  .zoneDropdown .active .dropdown .inDropdown .box:hover {
    cursor: pointer;
    -webkit-transition: 0.19s;
    transition: 0.19s;
    background-color: rgba(226, 226, 223, 0.25);
  }
  .zoneDropdown .active .dropdown .inDropdown .box span {
    font-weight: 500;
    color: rgba(7, 6, 6, 0.9);
    font-size: 13px;
    margin-left: 25%;
  }
  .zoneDropdown .active .dropdown .inDropdown .box .icon {
    position: absolute;
    right: 5%;
    font-size: 15px;
    color: rgba(14, 13, 13, 0.55);
  }
  .zoneDropdown .configBox {
    margin-top: 2.5%;
    width: 100%;
    height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .zoneDropdown .configBox .clear {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(214, 214, 214, 0.1);
    width: 100%;
  }
  .zoneDropdown .configBox .clear:hover {
    cursor: pointer;
    -webkit-transition: 0.05s ease-out;
    transition: 0.05s ease-out;
    background-color: rgba(214, 214, 214, 0.4);
  }
  .zoneDropdown .configBox .clear:hover span {
    -webkit-transition: 0.15s all;
    transition: 0.15s all;
    color: #312f2f;
    font-size: 13.5px;
    font-weight: 300;
  }
  .zoneDropdown .configBox .clear span {
    color: #312f2f;
    font-size: 13.5px;
    font-weight: 300;
  }
  .zoneDropdown .configBox .unClear {
    cursor: no-drop;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(214, 214, 214, 0.1);
    width: 100%;
  }
  .zoneDropdown .configBox .unClear:hover {
    cursor: no-drop;
    -webkit-transition: 0.05s ease-out;
    transition: 0.05s ease-out;
    background-color: rgba(214, 214, 214, 0.4);
  }
  .zoneDropdown .configBox .unClear:hover span {
    -webkit-transition: 0.15s all;
    transition: 0.15s all;
    color: #312f2f;
    font-size: 13.5px;
    font-weight: 300;
  }
  .zoneDropdown .configBox .unClear span {
    color: #312f2f;
    font-size: 13.5px;
    font-weight: 300;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1179px) {
  .zoneDropdown {
    position: relative;
    width: 36%;
    height: 100%;
  }
  .zoneDropdown .king {
    position: relative;
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .zoneDropdown .king:hover {
    cursor: pointer;
  }
  .zoneDropdown .king .topic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    color: grey;
    font-weight: 400;
  }
  .zoneDropdown .king .topic .icon {
    margin-right: 10px;
    font-size: 14px;
  }
  .zoneDropdown .king .topic:hover {
    cursor: pointer;
    -webkit-transition: 0.12s;
    transition: 0.12s;
    color: black;
  }
  .zoneDropdown .king .spanActive {
    font-weight: 400;
    -webkit-transition: 0.12s;
    transition: 0.12s;
    color: black;
  }
  .zoneDropdown .unActive {
    position: relative;
    background-color: rgba(164, 158, 144, 0.1);
    width: 95%;
    height: 0;
    overflow: hidden;
  }
  .zoneDropdown .unActive .dropdown {
    position: absolute;
  }
  .zoneDropdown .active {
    position: absolute;
    top: 80%;
    width: 95%;
    background-color: rgba(164, 158, 144, 0.1);
    border-radius: 8px;
    -webkit-transition: 0.125s ease-in-out;
    transition: 0.125s ease-in-out;
  }
  .zoneDropdown .active .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    visibility: visible;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .zoneDropdown .active .dropdown .inDropdown {
    -webkit-transition: 0.1s;
    transition: 0.1s;
    margin-top: 2%;
    width: 100%;
    max-height: 95px;
    overflow-y: scroll;
  }
  .zoneDropdown .active .dropdown .inDropdown .box {
    height: 30px;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background-color: rgba(245, 226, 191, 0);
  }
  .zoneDropdown .active .dropdown .inDropdown .box:hover {
    cursor: pointer;
    -webkit-transition: 0.19s;
    transition: 0.19s;
    background-color: rgba(226, 226, 223, 0.25);
  }
  .zoneDropdown .active .dropdown .inDropdown .box span {
    font-weight: 500;
    color: rgba(7, 6, 6, 0.9);
    font-size: 13px;
    margin-left: 28%;
  }
  .zoneDropdown .active .dropdown .inDropdown .box .icon {
    right: 6%;
    position: absolute;
    font-size: 14px;
    color: rgba(14, 13, 13, 0.55);
  }
  .zoneDropdown .configBox {
    margin-top: 2.5%;
    width: 100%;
    height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .zoneDropdown .configBox .clear {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(214, 214, 214, 0.1);
    width: 100%;
  }
  .zoneDropdown .configBox .clear:hover {
    cursor: pointer;
    -webkit-transition: 0.05s ease-out;
    transition: 0.05s ease-out;
    background-color: rgba(214, 214, 214, 0.4);
  }
  .zoneDropdown .configBox .clear:hover span {
    -webkit-transition: 0.15s all;
    transition: 0.15s all;
    color: #312f2f;
    font-size: 13.5px;
    font-weight: 300;
  }
  .zoneDropdown .configBox .clear span {
    color: #312f2f;
    font-size: 13.5px;
    font-weight: 300;
  }
  .zoneDropdown .configBox .unClear {
    cursor: no-drop;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(214, 214, 214, 0.1);
    width: 100%;
  }
  .zoneDropdown .configBox .unClear:hover {
    cursor: no-drop;
    -webkit-transition: 0.05s ease-out;
    transition: 0.05s ease-out;
    background-color: rgba(214, 214, 214, 0.4);
  }
  .zoneDropdown .configBox .unClear:hover span {
    -webkit-transition: 0.15s all;
    transition: 0.15s all;
    color: #312f2f;
    font-size: 13.5px;
    font-weight: 300;
  }
  .zoneDropdown .configBox .unClear span {
    color: #312f2f;
    font-size: 13.5px;
    font-weight: 300;
  }
}
/*# sourceMappingURL=selectOption.module.css.map */