.OfferLand {
  margin-top: 13vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 290px;
  border-radius: 21px;
  background-image: linear-gradient(315deg, #5a77e3 30%, #2e57d1 100%);
}

.OfferLand .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10%;
}

.OfferLand .container .head {
  width: 70%;
  font-size: 19px;
  color: white;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 12px;
}

.OfferLand .container .head .head {
  font-size: 24px;
}

.OfferLand .container .head .sub {
  font-size: 18px;
}

.OfferLand .container .buttonBox {
  width: 35%;
  max-width: 330px;
  height: 58px;
}

@media only screen and (min-width: 750px) and (max-width: 1024px) {
  .OfferLand {
    margin-top: 10vh;
    width: 99%;
    height: 260px;
    border-radius: 21px;
    background-color: #8d909d;
    background-image: linear-gradient(315deg, #5a77e3 30%, #2e57d1 100%);
  }
  .OfferLand .container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 15%;
  }
  .OfferLand .container .head {
    width: 100%;
    font-size: 16px;
    color: white;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 11px;
  }
  .OfferLand .container .head .head {
    font-size: 22px;
  }
  .OfferLand .container .buttonBox {
    height: 45px;
    width: 55%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 750px) {
  .OfferLand {
    margin-top: 10vh;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 99%;
    height: 300px;
    border-radius: 21px;
    background-color: #8d909d;
    background-image: linear-gradient(315deg, #5272f0 30%, #c7ccde 100%);
  }
  .OfferLand .container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 10%;
  }
  .OfferLand .container .head {
    width: 100%;
    font-size: 14px;
    color: white;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 10px;
  }
  .OfferLand .container .buttonBox {
    width: 55%;
  }
}
/*# sourceMappingURL=SubscribeBanner.module.css.map */