.container {
  width: calc(40vw + 550px);
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .navbar {
    width: 97%;
    height: 100%;
    user-select: none;
    .flexNav {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      .left {
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: row;
        column-gap: 45px;

        .brand {
          font-family: "Roboto Flex", sans-serif;
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;

          #logo {
            margin-bottom: 1px;
            padding-right: 10px;
            font-size: 20px;
          }
        }
      }

      .mid {
        position: relative;
        width: 55%;
        height: 100%;
        .menu {
          height: 100%;
          position: absolute;
          right: 7%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          column-gap: 50px;
          margin-left: 28%;
          color: grey;
          position: relative;

          .navLink {
            font-size: 16px;
            text-decoration: none;
            font-weight: 400;
            margin: 0;
            color: rgb(7, 7, 7);
            display: inline-block;
            text-transform: uppercase;
            &:hover {
              cursor: pointer;
              transition: 0.12s;
              color: black;
            }
            &:after {
              display: block;
              content: "";
              border-bottom: solid 1.6px black;
              transform: scaleY(0);
              transition: transform 120ms ease-in-out;
            }

            &:hover:after {
              transform: scaleY(0.8);
            }
          }
        }
      }

      .right {
        position: relative;
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: row;
        gap: 0;

        .content {
          left: -5%;
          width: 100%;
          height: 100%;
          position: absolute;
          margin-left: 21%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 2px;

          .icon {
            color: rgb(12, 12, 12);
            font-size: 21px;
          }

          span {
            margin-left: 8px;
            font-size: 15px;
          }
        }
      }
    }
  }
}
@keyframes growRight {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
