.container {
  width: 100%;
  .box {
    box-shadow: rgba(206, 206, 248, 0.43) 1px 10px 34px;
    border-radius: 7px;
    width: 100%;
    overflow: hidden;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1023px) {
  .container {
    width: 99%;
    .box {
      box-shadow: rgba(206, 206, 248, 0.5) 1px 5px 34px;
      border-radius: 7px;
      width: 100%;
    }
  }
}
