.navbar {
  z-index: 2;
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.01);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.navbar .flexNav {
  margin: 0 10% 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .flexNav .left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 45px;
          column-gap: 45px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .flexNav .left .brand {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .flexNav .left .brand #logo {
  margin-bottom: 2.2px;
  padding-right: 10px;
  font-size: 20px;
}

.navbar .flexNav .left .space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: grey;
}

.navbar .flexNav .left .space h2 {
  font-weight: 200;
}

.navbar .flexNav .left .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  color: grey;
  position: relative;
}

.navbar .flexNav .left .menu h2 {
  font-size: 18px;
  font-weight: 400;
  color: #666;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

.navbar .flexNav .left .menu h2:hover {
  cursor: pointer;
  -webkit-transition: 0.12s;
  transition: 0.12s;
  color: black;
}

.navbar .flexNav .left .menu h2:after {
  display: block;
  content: "";
  border-bottom: solid 1.6px black;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 120ms ease-in-out;
  transition: -webkit-transform 120ms ease-in-out;
  transition: transform 120ms ease-in-out;
  transition: transform 120ms ease-in-out, -webkit-transform 120ms ease-in-out;
}

.navbar .flexNav .left .menu h2:hover:after {
  -webkit-transform: scaleY(0.8);
          transform: scaleY(0.8);
}

.navbar .flexNav .right .userStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

.navbar .flexNav .right .userStatus div {
  color: #f3f3f3;
  height: 44px;
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .flexNav .right .userStatus div:hover {
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-radius: 18px;
  background-color: rgba(238, 238, 238, 0.2);
}

.navbar .flexNav .right .userStatus .active {
  border-radius: 18px;
  background-color: rgba(238, 238, 238, 0.2);
}

@-webkit-keyframes growRight {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes growRight {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
/*# sourceMappingURL=navbar.module.css.map */