.x {
  width: 100%;
  background-color: rgb(253, 253, 253);
  display: flex;
  flex-direction: column;
  align-items: center;
  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    .inPage {
      width: calc(40vw + 550px);
      max-width: 1600px;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .container {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .wrapper {
          width: 96%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .head {
            margin-top: 30px;
            width: 95%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 28px;
          }

          .attributesSet {
            box-shadow: rgba(206, 206, 248, 0.2) 5px 11px 13px,
              rgba(17, 17, 26, 0.05) 0px 8px 32px;
            width: 100%;
            min-height: 56px;
            background-color: white;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            gap: 42px;

            .eachAttribute {
              height: 80%;
              display: flex;
              flex-direction: column;
              user-select: none;
              position: relative;

              ::-webkit-scrollbar {
              }

              ::-webkit-scrollbar-track {
                width: 10px;
                background: #ddd;
              }

              ::-webkit-scrollbar-thumb {
                width: 10px;
                background: #666;
              }

              .label {
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 10px;
              }

              span {
                font-size: 13px;
                font-weight: 400;
                color: rgb(69, 69, 69);
              }

              .icon {
                margin-top: 2px;
                font-size: 11px;
                color: rgb(87, 86, 86);
                text-align: center;
              }

              &:hover {
                cursor: pointer;
                transition: 0.19s;
                span {
                  color: rgba(7, 6, 6, 0.9);
                }

                .icon {
                  color: rgba(7, 6, 6, 0.9);
                }
              }

              .dropdownActive {
                z-index: 1111;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 25px 0px;
                position: absolute;
                top: 39px;
                left: 0%;
                background-color: rgb(255, 255, 255);
                max-height: 167px;
                display: flex;
                flex-direction: column;
                overflow-y: scroll;
                overflow-x: hidden;
                border-radius: 5px;

                .dropdownItem {
                  color: rgb(103, 103, 103);
                  border-bottom: 1px solid rgba(222, 222, 222, 0.5);
                  min-height: 40px;
                  width: 190px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  &:hover {
                    background-color: rgb(123, 71, 71);

                    span {
                      color: rgb(241, 241, 241);
                    }
                  }

                  span {
                    font-size: 13px;
                    margin-left: 9px;
                  }
                }
                .top {
                  border-top-left-radius: "7px";
                }
              }

              .dropdownNone {
                display: none;
              }
            }

            .display {
              width: 52px;
              position: absolute;
              right: 20px;
              background-color: rgb(255, 255, 255);
              display: flex;
              flex-direction: row;
              gap: 0;
              .each {
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-size: 18px;
                width: 100%;
                color: rgb(102, 102, 102);

                &:hover {
                  cursor: pointer;
                  color: rgb(97, 56, 56);
                }
              }
            }
          }
        }

        .house {
          width: 96%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .box {
            margin-top: 2%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 30px;
            padding: 10px;
          }
        }
      }

      .sideWidgetBox {
        background-color: white;
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        width: 27%;
        gap: 27px;
      }
    }
  }
}
@media only screen and (min-width: 701px) and (max-width: 1023px) {
  .x {
    width: 100vw;
    .page {
      width: 99%;
      .inPage {
        width: 100%;
        display: flex;
        flex-direction: column;
        .container {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .wrapper {
            .attributesSet {
              width: 100%;
              min-height: 56px;
              background-color: white;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 30px;

              .display {
                display: none;
              }
            }
          }
          .house {
            width: 98%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .box {
              justify-content: center;
              margin-top: 2%;
              width: 100%;
              display: grid;
              grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
              gap: 30px;
              padding: 10px;
            }
          }
        }

        .sideWidgetBox {
          margin-top: 15px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  .x {
    width: 100vw;
    .page {
      width: 99%;
      .inPage {
        width: 100%;
        display: flex;
        flex-direction: column;
        .container {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .wrapper {
            .head {
              font-size: 24px;
            }
            .attributesSet {
              width: 96%;
              min-height: 56px;
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 0;

              .eachAttribute {
                height: 50px;
                width: 100%;
                border-bottom: 1px solid rgba(194, 194, 194, 0.3);
                .label {
                  margin-left: 21px;
                }
                .dropdownActive {
                  top: 50px;
                  width: 97%;
                  margin-left: 0%;

                  .dropdownItem {
                    width: 100%;

                    span {
                      margin-left: 15px;
                    }
                  }
                }
              }

              .display {
                display: none;
              }
            }
          }
          .house {
            width: 98%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .box {
              justify-content: center;
              margin-top: 2%;
              width: 100%;
              display: flex;
              flex-direction: column;
              gap: 30px;
              padding: 10px;
            }
          }
        }

        .sideWidgetBox {
          margin-top: 15px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
