.x {
  width: 100%;
  background-color: rgb(253, 253, 253);
  display: flex;
  flex-direction: column;
  align-items: center;
  .page {
    width: calc(40vw + 550px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    .head {
      margin-top: 10px;
      width: 100%;
      height: 100%;
      max-width: 1600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .content {
        width: 100%;
      }
    }
    .inPage {
      width: 100%;
      height: 100%;
      max-width: 1600px;
      display: flex;
      flex-direction: row;

      .main {
        width: 70%;
        height: 100%;

        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 30px;
          margin-top: 36px;
          width: 96%;
          height: 100%;
        }
      }
      .sideWidgetBox {
        width: 27%;
        height: 100%;
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        gap: 27px;
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 1023px) {
  .x {
    .page {
      width: 99%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .head {
        margin-top: 10px;
        width: 100%;
        height: 100%;

        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 96%;
        }
      }

      .inPage {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .main {
          width: 96%;

          .content {
            width: 100%;
          }
        }

        .sideWidgetBox {
          margin-top: 30px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 699px) {
}
