.container {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: white;
  width: 83%;
  height: 250px;
  -webkit-box-shadow: 0 2.5px 1.5px -2px rgba(206, 206, 206, 0.8);
          box-shadow: 0 2.5px 1.5px -2px rgba(206, 206, 206, 0.8);
}

.container .separateLeft,
.container .separateRight {
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 47%;
}

.container .separateLeft .item,
.container .separateLeft .right,
.container .separateRight .item,
.container .separateRight .right {
  height: 100%;
  width: 100%;
}

.container .separateLeft .item .head,
.container .separateLeft .right .head,
.container .separateRight .item .head,
.container .separateRight .right .head {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
  font-size: 20px;
  font-weight: 600;
}

.container .separateLeft .item .head #logo,
.container .separateLeft .right .head #logo,
.container .separateRight .item .head #logo,
.container .separateRight .right .head #logo {
  padding-right: 3%;
}

.container .separateLeft .item .text,
.container .separateLeft .right .text,
.container .separateRight .item .text,
.container .separateRight .right .text {
  line-height: 25px;
  font-size: 14px;
  color: grey;
}

.container .separateLeft .item .subGroup,
.container .separateLeft .right .subGroup,
.container .separateRight .item .subGroup,
.container .separateRight .right .subGroup {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12%;
  row-gap: 9%;
}

.container .separateLeft .item .subGroup .sub,
.container .separateLeft .right .subGroup .sub,
.container .separateRight .item .subGroup .sub,
.container .separateRight .right .subGroup .sub {
  color: grey;
  font-size: 15px;
}

.container .separateLeft .item .subGroup .sub:hover,
.container .separateLeft .right .subGroup .sub:hover,
.container .separateRight .item .subGroup .sub:hover,
.container .separateRight .right .subGroup .sub:hover {
  cursor: pointer;
  color: #707070;
}

.container .separateLeft .item .subGroup .sub .logo,
.container .separateLeft .right .subGroup .sub .logo,
.container .separateRight .item .subGroup .sub .logo,
.container .separateRight .right .subGroup .sub .logo {
  padding-right: 4%;
}

.container .separateLeft .right,
.container .separateRight .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8%;
}

.container .separateRight {
  width: 53%;
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
  .container {
    margin-top: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    row-gap: 28px;
    width: 85%;
    height: 100%;
    padding-bottom: 20px;
  }
  .container .separateLeft,
  .container .separateRight {
    margin-top: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 28px;
    width: 100%;
    padding-bottom: 30px;
    -webkit-box-shadow: 0 2.5px 1.5px -2px rgba(206, 206, 206, 0.8);
            box-shadow: 0 2.5px 1.5px -2px rgba(206, 206, 206, 0.8);
  }
  .container .separateLeft .item,
  .container .separateLeft .right,
  .container .separateRight .item,
  .container .separateRight .right {
    height: 100%;
    width: 100%;
  }
  .container .separateLeft .item .head,
  .container .separateLeft .right .head,
  .container .separateRight .item .head,
  .container .separateRight .right .head {
    font-size: 20px;
    font-weight: 600;
  }
  .container .separateLeft .item .head #logo,
  .container .separateLeft .right .head #logo,
  .container .separateRight .item .head #logo,
  .container .separateRight .right .head #logo {
    padding-right: 2%;
  }
  .container .separateLeft .item .text,
  .container .separateLeft .right .text,
  .container .separateRight .item .text,
  .container .separateRight .right .text {
    margin-top: 3%;
    line-height: 25px;
    font-size: 14px;
    color: grey;
  }
  .container .separateLeft .item .subGroup,
  .container .separateLeft .right .subGroup,
  .container .separateRight .item .subGroup,
  .container .separateRight .right .subGroup {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3%;
    row-gap: 6px;
  }
  .container .separateLeft .item .subGroup .sub,
  .container .separateLeft .right .subGroup .sub,
  .container .separateRight .item .subGroup .sub,
  .container .separateRight .right .subGroup .sub {
    color: grey;
    font-size: 15px;
  }
  .container .separateLeft .item .subGroup .sub:hover,
  .container .separateLeft .right .subGroup .sub:hover,
  .container .separateRight .item .subGroup .sub:hover,
  .container .separateRight .right .subGroup .sub:hover {
    cursor: pointer;
    color: #707070;
  }
  .container .separateLeft .item .subGroup .sub .logo,
  .container .separateLeft .right .subGroup .sub .logo,
  .container .separateRight .item .subGroup .sub .logo,
  .container .separateRight .right .subGroup .sub .logo {
    padding-right: 4%;
  }
  .container .separateLeft .right,
  .container .separateRight .right {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 8%;
  }
  .container .separateLeft {
    padding-bottom: 0px;
    -webkit-box-shadow: 0 2.5px 1.5px -2px rgba(206, 206, 206, 0);
            box-shadow: 0 2.5px 1.5px -2px rgba(206, 206, 206, 0);
  }
  .container .separateRight {
    width: 100%;
  }
}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .container {
    margin-top: 13vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    row-gap: 30px;
    background-color: white;
    width: 85%;
    height: 100%;
    padding-bottom: 20px;
  }
  .container .separateLeft,
  .container .separateRight {
    margin-top: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    width: 100%;
    padding-bottom: 30px;
    -webkit-box-shadow: 0 2.5px 1.5px -2px rgba(206, 206, 206, 0.8);
            box-shadow: 0 2.5px 1.5px -2px rgba(206, 206, 206, 0.8);
  }
  .container .separateLeft .item,
  .container .separateLeft .right,
  .container .separateRight .item,
  .container .separateRight .right {
    height: 100%;
    width: 100%;
  }
  .container .separateLeft .item .head,
  .container .separateLeft .right .head,
  .container .separateRight .item .head,
  .container .separateRight .right .head {
    font-size: 20px;
    font-weight: 600;
  }
  .container .separateLeft .item .head #logo,
  .container .separateLeft .right .head #logo,
  .container .separateRight .item .head #logo,
  .container .separateRight .right .head #logo {
    padding-right: 2%;
  }
  .container .separateLeft .item .text,
  .container .separateLeft .right .text,
  .container .separateRight .item .text,
  .container .separateRight .right .text {
    margin-top: 3%;
    line-height: 25px;
    font-size: 14px;
    color: grey;
  }
  .container .separateLeft .item .subGroup,
  .container .separateLeft .right .subGroup,
  .container .separateRight .item .subGroup,
  .container .separateRight .right .subGroup {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3%;
    row-gap: 6px;
  }
  .container .separateLeft .item .subGroup .sub,
  .container .separateLeft .right .subGroup .sub,
  .container .separateRight .item .subGroup .sub,
  .container .separateRight .right .subGroup .sub {
    color: grey;
    font-size: 15px;
  }
  .container .separateLeft .item .subGroup .sub:hover,
  .container .separateLeft .right .subGroup .sub:hover,
  .container .separateRight .item .subGroup .sub:hover,
  .container .separateRight .right .subGroup .sub:hover {
    cursor: pointer;
    color: #707070;
  }
  .container .separateLeft .item .subGroup .sub .logo,
  .container .separateLeft .right .subGroup .sub .logo,
  .container .separateRight .item .subGroup .sub .logo,
  .container .separateRight .right .subGroup .sub .logo {
    padding-right: 4%;
  }
  .container .separateLeft .right,
  .container .separateRight .right {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 8%;
  }
  .container .separateLeft {
    padding-bottom: 0px;
    -webkit-box-shadow: 0 2.5px 1.5px -2px rgba(206, 206, 206, 0);
            box-shadow: 0 2.5px 1.5px -2px rgba(206, 206, 206, 0);
  }
  .container .separateRight {
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .container .separateLeft .item .head,
  .container .separateLeft .right .head,
  .container .separateRight .item .head,
  .container .separateRight .right .head {
    font-size: 18px;
  }
  .container .separateLeft .item .text,
  .container .separateLeft .right .text,
  .container .separateRight .item .text,
  .container .separateRight .right .text {
    font-size: 14px;
  }
  .container .separateLeft .item .subGroup .sub,
  .container .separateLeft .right .subGroup .sub,
  .container .separateRight .item .subGroup .sub,
  .container .separateRight .right .subGroup .sub {
    font-size: 14px;
  }
}
/*# sourceMappingURL=BottomSection.module.css.map */