.FixedNavbar {
  display: block;
  animation: 0.35s ease-out 0s 1 slideInFromLeft;
  transition: 0.5s;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(242, 240, 240, 0.991);
  height: 45px;
  z-index: 99999999999999999999;
}

.hide {
  animation: 0.35s ease-out 0s 1 slideInFromLeft;
  transition: 0.2s;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(242, 240, 240, 0);
  height: 45px;
  z-index: 99999999999999999999;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
