//Desktop
.hero {
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  max-height: 820px;
  display: flex;
  flex-direction: column;
  position: relative;
  .container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;

    .left {
      width: 100%;
      height: 100%;
      max-width: 900px;
      display: flex;
      flex-direction: column;

      .greetingBox {
        font-family: "Roboto Flex", sans-serif;
        display: flex;
        flex-direction: column;
        row-gap: 2%;
        margin-left: 20%;
        margin-top: 150px;

        .brandText {
          margin-top: 8px;
          width: 88%;
          font-size: 53px;
          font-weight: 600;
          line-height: 74px;
        }

        .subText {
          margin-top: 20px;
          line-height: 30px;
          width: 100%;
          color: rgba(160, 160, 160, 0.78);
        }
      }

      .searchComponent {
        display: flex;
        flex-direction: column;
        margin-top: 4%;
        margin-left: 20%;
        row-gap: 10px;
        width: 100%;
        height: 500px;

        .newOrAll {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          column-gap: 6px;
          width: 41%;
          height: 66px;
          border-radius: 105px;
          background-color: rgba(231, 231, 231, 0.7);

          div {
            background-color: rgb(255, 254, 254);
            width: 46%;
            border-radius: 105px;
            height: 71.6%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            color: rgba(199, 198, 198, 0.9);

            .topic {
              font-size: 13px;
            }

            .FontAwesomeIcon {
              font-size: 18px;
              padding-right: 5.2%;
            }

            &:hover {
              cursor: pointer;
              transition: 0.15s;
              color: rgb(224, 173, 61);
            }
          }

          .active {
            transition: 0.15s;
            color: rgb(224, 173, 61);
          }
        }

        .productProperty {
          width: 94%;
          border-radius: 105px;
          border: 0.5px solid rgba(1, 1, 1, 0.02);
          box-shadow: rgba(250, 191, 115, 0.05) 0px 3px 1px,
            rgba(247, 170, 5, 0.12) 1px 2px 88px;
          height: 65.7px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-color: rgba(248, 248, 248, 0.7);
          font-weight: 600;
          font-size: 17px;

          .zoneDropdown {
            width: 36%;
            height: 100%;

            .king {
              position: relative;
              width: 90%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              &:hover {
                cursor: pointer;
                .topic {
                  transition: 0.1s;
                  box-shadow: 0 3px 3px -2px rgba(252, 195, 89, 0.6);
                }
                .dropdown {
                  width: 100%;
                  border-radius: 6px;
                  animation: growDown 200ms ease-in-out forwards;
                  transform-origin: top center;
                  position: absolute;
                  top: 86.5%;
                  background-color: rgba(228, 226, 225, 0.1);
                  border-bottom-right-radius: 12px;
                  border-bottom-left-radius: 12px;
                  display: flex;
                  justify-content: center;

                  .inDropdown {
                    width: 100%;

                    .box {
                      height: 34px;
                      width: 100%;
                      display: flex;
                      justify-content: start;
                      align-items: center;
                      position: relative;
                      background-color: rgba(245, 226, 191, 0);

                      &:hover {
                        cursor: pointer;
                        transition: 0.19s;
                        background-color: rgba(226, 226, 223, 0.17);
                      }
                      span {
                        font-weight: 500;
                        color: rgba(7, 6, 6, 0.9);
                        font-size: 15px;
                        margin-left: 25%;
                      }

                      .icon {
                        right: 60px;
                        position: absolute;
                        font-size: 16px;
                        color: rgba(14, 13, 13, 0.55);
                      }
                    }
                  }
                }
              }
              span {
              }
              .dropdown {
                display: none;
                position: absolute;
              }
            }
          }
          .priceDropdown {
            width: 43%;
            height: 100%;

            .priceRange {
              width: 100%;
              height: 100%;

              .king {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                .topic {
                  transition: 0.1s;
                  box-shadow: 0 2.5px 1.5px -2px rgba(7, 7, 7, 0);
                }

                &:hover {
                  cursor: pointer;
                  .topic {
                    transition: 0.1s;
                    box-shadow: 0 2.5px 1.5px -2px rgba(7, 7, 7, 1);
                  }
                }

                .dropdown {
                  height: 100px;
                  width: 100%;
                  border-radius: 6px;
                  animation: growDown 200ms ease-in-out forwards;
                  transform-origin: top center;
                  position: absolute;
                  top: 86.5%;
                  background-color: rgba(228, 226, 225, 0.1);
                  border-bottom-right-radius: 12px;
                  border-bottom-left-radius: 12px;
                  display: flex;
                  justify-content: center;
                }
              }
            }
          }

          .search {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            width: 21%;
            height: 100%;

            .button {
              width: 70%;
              height: 86%;
            }
          }
        }
        .scrollDown {
          animation: 2s ease-out 0s 1 slideInFromLeft;
          transition: 0.12s;
          display: flex;
          flex-direction: row;
          align-items: center;
          color: rgb(168, 168, 168);
          font-weight: 300;
          width: 350px;
          margin-top: 9%;
          &:hover {
            transition: 0.15s;
            cursor: pointer;
            color: rgb(114, 114, 114);
          }

          .FontAwesomeIcon {
            margin-right: 13px;
          }

          span {
            font-size: 15px;
          }
        }

        .fade {
          display: none;
          transition: 0.12;
          color: rgb(168, 168, 168);
        }
      }
    }
    .right {
      height: 100%;
      width: 100%;
      .heroImg {
        height: 98%;
        width: 100%;
        top: 0;
        position: center;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-bottom-left-radius: 16px;
      }
    }
  }
}

//Desktop Mid
@media only screen and (min-width: 1180px) and (max-width: 1300px) {
  .hero {
    .container {
      .left {
        .greetingBox {
          row-gap: 2%;
          margin-left: 20%;
          margin-top: 150px;

          .brandText {
            margin-top: 8px;
            width: 88%;
            font-size: 49px;
            font-weight: 600;
            line-height: 74px;
          }

          .subText {
            font-size: 15px;
            margin-top: 20px;
            line-height: 30px;
            width: 100%;
          }
        }

        .searchComponent {
          margin-top: 4%;
          margin-left: 20%;
          row-gap: 10px;
          width: 100%;
          height: 500px;

          .newOrAll {
            column-gap: 6px;
            width: 44%;
            height: 66px;
            border-radius: 105px;
            background-color: rgba(231, 231, 231, 0.7);

            div {
              background-color: rgb(255, 254, 254);
              width: 46%;
              border-radius: 105px;
              height: 71.6%;
              font-weight: 600;

              .topic {
                font-size: 12px;
              }

              .FontAwesomeIcon {
                font-size: 16px;
                padding-right: 5%;
              }
            }
          }

          .productProperty {
            width: 94%;
            border-radius: 105px;
            height: 65.7px;
            font-weight: 600;

            .zoneDropdown {
              width: 36%;
              height: 100%;

              .king {
                width: 90%;
                height: 100%;
                &:hover {
                  .dropdown {
                    width: 100%;
                    border-radius: 6px;
                    top: 86.5%;

                    .inDropdown {
                      width: 100%;

                      .box {
                        height: 34px;
                        width: 100%;
                        span {
                          font-weight: 500;
                          font-size: 14px;
                          margin-left: 25%;
                        }

                        .icon {
                          right: 60px;
                          font-size: 14px;
                        }
                      }
                    }
                  }
                }
              }
            }
            .priceDropdown {
              width: 43%;
              height: 100%;

              .priceRange {
                width: 100%;
                height: 100%;

                .king {
                  width: 100%;
                  height: 100%;

                  .dropdown {
                    height: 100px;
                    width: 100%;
                    border-radius: 6px;
                    top: 86.5%;
                  }
                }
              }
            }

            .search {
              width: 24%;
              height: 100%;

              .button {
                width: 70%;
                height: 86%;
              }
            }
          }
          .scrollDown {
            font-weight: 300;
            width: 350px;
            margin-top: 9%;

            .FontAwesomeIcon {
              margin-right: 13px;
            }

            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
//Desktop Small
@media only screen and (min-width: 1024px) and (max-width: 1180px) {
  .hero {
    .container {
      .left {
        .greetingBox {
          row-gap: 2%;
          margin-left: 20%;
          margin-top: 150px;

          .brandText {
            margin-top: 8px;
            width: 88%;
            font-size: 42px;
            font-weight: 600;
            line-height: 69px;
          }

          .subText {
            font-size: 14px;
            margin-top: 20px;
            line-height: 30px;
            width: 100%;
          }
        }

        .searchComponent {
          margin-top: 4%;
          margin-left: 20%;
          row-gap: 10px;
          width: 100%;
          height: 500px;

          .newOrAll {
            column-gap: 6px;
            width: 47%;
            height: 66px;
            border-radius: 105px;

            div {
              width: 46%;
              border-radius: 105px;
              height: 71.6%;
              font-weight: 600;

              .topic {
                font-size: 12px;
              }

              .FontAwesomeIcon {
                font-size: 14px;
                padding-right: 5%;
              }
            }
          }

          .productProperty {
            width: 94%;
            border-radius: 105px;
            height: 65.7px;
            font-weight: 600;
            font-size: 17px;

            .zoneDropdown {
              width: 36%;
              height: 100%;

              .king {
                width: 90%;
                height: 100%;
                &:hover {
                  .dropdown {
                    width: 100%;
                    border-radius: 6px;
                    top: 86.5%;

                    .inDropdown {
                      width: 100%;

                      .box {
                        height: 34px;
                        width: 100%;

                        span {
                          font-weight: 500;
                          font-size: 15px;
                          margin-left: 25%;
                        }

                        .icon {
                          right: 60px;
                          font-size: 16px;
                        }
                      }
                    }
                  }
                }
              }
            }
            .priceDropdown {
              width: 43%;
              height: 100%;

              .priceRange {
                width: 100%;
                height: 100%;

                .king {
                  width: 100%;
                  height: 100%;

                  .dropdown {
                    height: 100px;
                    width: 100%;
                    border-radius: 6px;
                    top: 86.5%;
                  }
                }
              }
            }

            .search {
              width: 27%;
              height: 100%;

              .button {
                width: 70%;
                height: 86%;
                font-size: 14px;
              }
            }
          }
          .scrollDown {
            font-weight: 300;
            width: 350px;
            margin-top: 9%;

            .FontAwesomeIcon {
              margin-right: 13px;
            }

            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-700%);
  }
  96% {
    transform: translateX(0.15%);
  }
  98% {
    transform: translateX(0.1%);
  }
  99% {
    transform: translateX(0.05%);
  }
  100% {
    transform: translateX(0);
  }
}
